<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>136992022958-mmo0mjnpeou873u2892b3i9ebea1iuta.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.136992022958-mmo0mjnpeou873u2892b3i9ebea1iuta</string>
	<key>API_KEY</key>
	<string>AIzaSyC6SGvuVay252xBTyhbNNKM_zqha6Wos5A</string>
	<key>GCM_SENDER_ID</key>
	<string>136992022958</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sathwikdoddi.memoirMu</string>
	<key>PROJECT_ID</key>
	<string>memoirapp-e1678</string>
	<key>STORAGE_BUCKET</key>
	<string>memoirapp-e1678.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:136992022958:ios:47695839835a3e4ea2283f</string>
	<key>DATABASE_URL</key>
	<string>https://memoirapp-e1678.firebaseio.com</string>
</dict>
</plist>